h1, h2
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.fa-code-branch
{
    color: #dee0e3;
    margin-top: 200px;
    font-size: 500px;
    transition: color 0.5s;
}

.icon 
{
    text-align: center;
    width: 100%;
    display: block;
}

.fa-code-branch:hover
{
    color: #e6d755;
}

.fa-code-branch:active
{
    color: #e6d755; 
}

.construction
{
    display: flex;
    flex-flow: column;
}

.hidden
{
    display: none;
}

.input
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    height: 30px;
    border: 3px solid #e1e2e8;
    border-radius: 50px;
    padding-left: 10px;
}

.input:focus
{
    outline: none;
}

.login
{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background: #e6d755;
    color: white;
    transition: background 0.5s;
    transition: background-color 0.2s;
}

.login:hover
{
    background: #4489e3;
}

.login:active
{
    background-color: #286dc7;
}

.construction
{
    background-color: white;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    top: 0;
    left: 0;
}